@font-face {
    font-family: "비비트리고딕_R";
    src: url(/123RF_kkueez_R_TTF.ttf);
    font-family: "비비트리나무체_B";
    src: url(/123RF_kkueugo_B_TTF.ttf);
    font-family: "AppleSDGothicNeoSB00";
    src: url(/AppleSDGothicNeoSB.ttf);
    font-family: "AppleSDGothicNeoL00";
    src: url(/AppleSDGothicNeoL.ttf);
    font-family: "AppleSDGothicNeoT00";
    src: url(/AppleSDGothicNeoT.ttf);
    font-family: "AppleSDGothicNeoH00";
    src: url(/AppleSDGothicNeoH.ttf);
    font-family: "AppleSDGothicNeoEB00";
    src: url(/AppleSDGothicNeoEB.ttf);
}
*{
    margin:0;
}
.banner{
    width:100%;
    height:159px;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
      box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.16);
}
#e{
    position:absolute;
    width:163.8px;
    height:32.4px;
    left:70px;
    top:42px;
}
.store{
    font-family: "AppleSDGothicNeoH00";
    font-size: 33px;
    color: #63666a;
    position:absolute;
    left:70px;
    top:86.5px;
}
.banner img{
    width:71px;
    height:105px;
}
.wrapper{
    width:100%;
    height:921px;
    background: url(/public/images/apples.png) no-repeat center fixed;
    background-size:cover;
    display:flex;
    justify-content: center;
}
.blue{
    width:100%;
    height:921px;
    opacity: 0.68;
  background-color: #842aea;
    position:absolute;
}
.msb{
    text-shadow: 7px 9px 11px rgba(0, 0, 0, 0.16);
  font-family: "AppleSDGothicNeoEB00";
  font-size: 93px;
    color:white;
    position:absolute;
    top:494px;
}
.mss{
    opacity: 0.8;
    font-family: "AppleSDGothicNeoUL00";
    font-size: 40px;
    color:white;
    position:absolute;
    top:709px;
}